# Ignore Rproject files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore backup files
*.bak

# Ignore documents
*.od
*.xls*
*.doc*
*.pdf

# Ignore output formats
*.html
*.png
*.jpg
*.jpeg
*.gif
*.webm

# Ignore non-shareable data
*/data/private

# Ignore binary data files
*.Rdata
*.sqlite
*.zip
*.tar.gz
